---
import Layout from './Layout.astro';
import Sidebar from './Sidebar.astro';
import '@/styles/globals.css';

interface Props {
  title: string;
  titleStart?: string;
  currentPage: string;
  hideCard?: boolean;
  ogPath?: string;
}

const { title, titleStart, currentPage, hideCard, ogPath } = Astro.props;
---

<Layout title={title} ogPath={ogPath}>
  <!-- Card in the upper third of the page -->
  <div class="p-4 md:ml-64">
    <div
      class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700"
    >
      <Sidebar currentPage={currentPage}>
        <!-- title -->

        <div class="pt-8 px-4 sm:px-6 lg:px-8">
          <h1
            class="mb-10 text-5xl font-extrabold leading-none tracking-tight text-gray-900"
          >
            {
              titleStart && (
                <mark class="px-2 text-white bg-secondary rounded dark:bg-secondary mr-3">
                  {titleStart}
                </mark>
              )
            }
            {title}
          </h1>
        </div>

        <div
          class={hideCard
            ? ''
            : 'max-w-lg mx-auto bg-white rounded-lg shadow-lg overflow-hidden md:max-w-4xl lg:max-w-5xl border'}
        >
          <div class="p-4 md:p-8">
            <slot />
          </div>
        </div>
      </Sidebar>
    </div>
  </div>
</Layout>
